@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans')

$title
  font-family: 'Montserrat'

$body
  font-family: 'Open Sans'
  font-size: 0.875rem


@global
span,
a,
button,
div,
span,
p
  @extend $body

@global
h1, h2, h3, h4
  @extend $title
