@import "styles/base.styl"

header
  background-color: $colors.primary
  padding: $spacing.lg
  margin-bottom: $spacing.md

  a
    @extend $title
    font-size: 2rem
    color: $colors.text2
    text-decoration: none

section
  height: 100vh
  overflow-y: auto
  padding-bottom: 10px
