@import "../styles/base.styl"

@keyframes modal-entrance
  0%
    top: -300vh
  75%
    top: 8%
  100%
    top: 5%

.container
  width: calc(100vw)
  height: calc(100vh)
  background-color: rgba(0, 0, 0, 0.6)
  position: absolute
  top: 0

  .modal
    opacity: 1
    background-color: white

    position: relative
    left: 20%
    top: 5%

    width: 60%
    height: 85%

    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.2)

    animation: modal-entrance
    animation-duration: .3s
    animation-timing-function: ease-in-out

    @media only screen and (min-width: 321px) and (max-width: 728px)
      left: 2.5%
      top: 2.5%
      width: 95%
      height: 95%


    @media only screen and (max-width: 320px)
      left: 7.5%
      top: 2.5%
      width: 85%
      height: 95%

    .header
      padding: $spacing.lg
      background-color: $colors.primary
      display: flex
      color: $colors.text2
      justify-content: space-between

      button
        background: none
        color: $colors.text2
        font-size: 1.2rem
        font-weight: bold
        border: none
        cursor: pointer
        outline: none

    .body
      padding: $spacing.lg

        //open-sans no corpo
        // montserrat no titulo
