@import "../styles/base.styl"

ul
  display: flex

  padding: 0
  padding-bottom: 120px
  margin: 0

  list-style: none
  flex-wrap: wrap
  overflow-y: auto

  li
    display: block
    text-align: center

    min-width: s("calc(100% / 3 - (%s * 2))", $spacing.xs)
    margin: $spacing.xs

    @media only screen and (min-width: 426px) and (max-width: 728px)
      min-width: s("calc(100% / 2 - (%s * 2))", $spacing.lg)
      margin: $spacing.lg

    @media only screen and (max-width: 425px)
      min-width: s("calc(100% - (%s * 2))", $spacing.md)
      margin: $spacing.md


    button
      padding: $spacing.lg
      min-width: $char-size
      max-width: $char-size
      height: $char-size
      background-color: $colors.primary
      color: $colors.text2
      border-radius: $spacing.xs
      border: $borders.primary
      cursor: pointer
      outline: none

      &:hover
        background-color: alpha($colors.primary, 0.8)
