@import "../styles/base.styl"

breakpoints = {
  xs: { min: 0, max: 320 }
  sm: { min: 321, max: 425 }
  md: { min: 426 }
}

// main page style
ul
  display: flex

  padding: 0
  margin: 0
  height: 100%

  list-style: none
  flex-wrap: wrap
  overflow-y: auto

  padding-bottom: 10%

  li
    display: block
    text-align: center

    min-width: s("calc(100% / 3 - (%s * 2))", $spacing.xs)
    margin: $spacing.xs

    @media only screen and (min-width: 321px) and (max-width: 728px)
      min-width: s("calc(100% / 2 - (%s * 2))", $spacing.lg)
      margin: $spacing.lg

    @media only screen and (max-width: 320px)
      min-width: s("calc(100% - (%s * 2))", $spacing.md)
      margin: $spacing.md


    button
      padding: $spacing.lg
      width: 100%
      height: $char-size
      background-color: $colors.primary
      color: $colors.text2
      border-radius: $spacing.xs
      border: $borders.primary
      cursor: pointer
      outline: none

      &:hover
        background-color: alpha($colors.primary, 0.8)
